@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|PT+Sans+Narrow');
/*font-family: 'Do Hyeon', sans-serif;*/
/*font-family: 'PT Sans Narrow', sans-serif;*/

body {
    background-color: #f9f9f9;
    font-family: 'PT Sans Narrow', sans-serif;
}

textarea,
input,
.btn {
    font-size: 1.5em;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: transparent;
}

.btn {
    box-shadow: 5px 4px 5px #646464;
}

.btn:active, .btn:hover {
    box-shadow: 2px 2px 2px #363636;
}

/*Edit form*/
textarea {
    background-color: #e8e8e8;
    font-size: 2em;
    resize: none;
    transition: box-shadow .5s;
}

input {
    background-color: #e8e8e8;
    font-size: 2.5em;
    box-shadow: none;
    transition: box-shadow .5s;

}

input:focus, textarea:focus {

    background-color: #FFF;
    outline: none;
    box-shadow: 5px 4px 5px #646464;
    transition: box-shadow .5s, background-color .3s;
}

/*Posts home*/
.post {
    margin-top: 2em;
}

.post>a {
    text-decoration: none;
}

.post-card {
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 25px;
    box-shadow: none;
    border: 1px solid transparent;
    transition: background-color .5s, box-shadow .5s, border .5s;
}

.post-card:hover {
    border: 1px solid #2b542c;
    background-color: #d8d8d8;
    box-shadow: 3px 3px 5px #4b4b4b;
    transition: background-color 1s, box-shadow 1s, border .3s;
}

.post-header {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 2em;
    display: inline-block;
    color: #344738;
    font-weight: bold;
}

.post-body {
    color: #344738;
    font-size: 1.5em;
}

.post-user {
    color: #78a88c;
    font-size: 1.5em;
}

/*Individual Post*/
.ind-post-header {
    font-family: 'Do Hyeon', sans-serif;
    color: #6d6d6d;
    font-size: 3em;
}

.ind-post-body {
    font-size: 2em;
}