<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dice Rolls</title>
</head>
<body>

<h2>Pick a number</h2>
<button><a href="/roll-dice/1">1</a></button>
<button><a href="/roll-dice/2">2</a></button>
<button><a href="/roll-dice/3">3</a></button>
<button><a href="/roll-dice/4">4</a></button>
<button><a href="/roll-dice/5">5</a></button>
<button><a href="/roll-dice/6">6</a></button>

<div th:if="${pick}">
    <h3>Your pick: <span th:text="${pick}"></span></h3>
    <h3>Generated Number: <span th:text="${num}"></span></h3>

    <div th:if="${pick != num}">
        <h2>Try again</h2>
    </div>
    <div th:if="${pick == num}">
        <h2>Correct!!</h2>
    </div>

</div>
</body>
</html>